@()

<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<title>Chat application</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/assets/main.css">
	<script src="/assets/scripts/main.js"></script>
</head><body>
	<div class="container">
		<div class="col-xs-8">
			<h1><i class="fa fa-group"></i> Chat application</h1>
			<div class="well">
				<div id="messages"><i class="fa fa-refresh fa-spin"></i></div>
			</div>
		    <div class="input-group">
		      <input type="text" class="form-control" id="message">
		      <span class="input-group-btn">
		        <button class="btn btn-default btn-primary" type="button" id="send-message"><i class="fa fa-bullhorn"></i></button>
		      </span>
		    </div>
		</div>
		<div class="col-xs-4">
			Here is the user list ...
		</div>
	</div>
</body></html>
